---
---

@import "{{ site.theme }}";

header {
  top: 0;
  padding-top: 38px;
}

div.shell {
  width: 80vw;
}

img[alt="Logo"] {
  border-radius: 50%;
  height: 80px;
}

section#main_content {
  text-align: center;
}